.list-button {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    max-width: 60%;
    &__item{
    
    }

    @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
        position: fixed;
        height: 100%;
        top: 0;
        left: -100%;
        transition: left 0.5s;
        width: 50%;
        padding-top: 90px;
        background-color: $burgerMenuColor;

        &.open{
            left: 0;
        }
    }

}

.key {
    padding: 3px 7px;
    display: flex;
    align-items: center;
    column-gap: 5px;
    background-color: $buttonColor;
    border-radius: 20px;
    border: 2px solid transparent;

    font-family: monospace;
    font-size: 20px;
    font-weight: 500;

    &__title{
        
    }

    &__img{
        vertical-align: middle;
        width: 40px;
        height: 40px;
    }

    &:active{
        transform: scale(0.95);
        opacity: 0.8;
    }
    @media (hover:hover) {
        &:hover{
            border-color:  rgb(27, 122, 247);
            box-shadow: 0 0 5px rgb(27, 122, 247);
        }
    }
}
